<mat-progress-bar *ngIf="uploading" mode="determinate" [value]="uploadProgress"></mat-progress-bar>

<div *ngIf="!Conversation.isMessagingRestricted
     && ((Conversation.isSecure && Conversation.authKeyId)
     || (!Conversation.isSecure && !Conversation.authKeyId))" class="messages_wrapper_chat-input">

  <img class="input-currentuser rounded-image" src="{{User.imageUrl}}" />

  <div class="padding20px">
    <!--name must be the same as in UploadFiles method parameter-->
    <input class="button_send-images" type="file" (change)="UploadImages($event)" multiple="multiple" title="Send images" accept="image/*" name="images">
    <mat-icon class="sendimage-icon">add_a_photo</mat-icon>
  </div>

  <div class="padding5px">
    <!--name must be the same as in UploadFiles method parameter-->
    <input class="button_send-images" type="file" (change)="UploadFile($event)" title="Send file" name="file">
    <mat-icon class="sendimage-icon">attach_file</mat-icon>
  </div>

  <mat-form-field class="input_field">
    <textarea class="input-textarea" cdkTextareaAutosize (input)="SetTyping()" (keydown.control.enter)="SendMessage()" matInput placeholder="Type in your message..."></textarea>
  </mat-form-field>

  <button mat-button style="color:cadetblue" (click)="SendMessage()">
    <mat-icon>send</mat-icon>
  </button>

</div>

<div *ngIf="Conversation.isMessagingRestricted" class="banned-input">
  <mat-icon style="color: indianred">report_problem</mat-icon>
  <p class="banned-text">You were banned from writing in this conversation.</p>
</div>

<!--Wait until keys for private chat are exchanged.-->
<div *ngIf="Conversation.isSecure && !Conversation.authKeyId" class="banned-input">
  <mat-icon style="color: cadetblue">report_problem</mat-icon>
  <p>Secure chat will be activated after {{Conversation.dialogueUser.userName}} is online.</p>
</div>

<style>
  .sendimage-icon {
    transition: ease 0.3s;
    color: cadetblue;
  }

  .button_send-images:hover + .sendimage-icon {
    transition: ease 0.3s;
    color: #b6d2d3;
  }
</style>
