<div class="messages_component">

  <!--since virtual scroll doesn't work with items of variable height, load everything-->

  <cdk-virtual-scroll-viewport class="messages_main"
                               itemSize="50"
                               [maxBufferPx]="1000000000000000000000000"
                               [minBufferPx]="1000000000000000000000000"
                               (scrolledIndexChange)="OnMessagesScrolled($event)">

    <div *ngIf="HistoryLoading" class="padding10px">
      <mat-progress-spinner class="load-spinner"
                            diameter="60"
                            color="Primary"
                            mode="indeterminate">
      </mat-progress-spinner>
    </div>

    <div *cdkVirtualFor="let message of chatsService.CurrentConversation.messages; let index = index">

      <div (click)="SelectMessage(message)"
           [@highlight-message]="message.id == _lockedMsgId ? 'selected' : 'not-selected'">

        <!--Today, yesterday . .etc-->

        <div *ngIf="IsPreviousMessageOnAnotherDay(message, index)" class="messages_datestrip_wrapper padding10px">
          <span class="datestrip_text">{{formatter.GetMessagesDateStripFormatted(message)}}</span>
        </div>

        <div class="messages_message_content" [ngClass]="{'selected-message-dark': IsMessageSelected(message) && IsDarkTheme(), 'selected-message-light': IsMessageSelected(message) && !IsDarkTheme()}">

          <!--name and avatar-->

          <div class="user-avatar" *ngIf="!IsEvent(message)" (click)="ViewUserInfo($event, message.user)">
            <img *ngIf="IsFirstMessageInSequence(message, index) || IsForwarded(message)" class="rounded-chat-image" src="{{message.user.imageUrl}}" />
          </div>

          <div class="content_messageAndName">
            <span *ngIf="IsFirstMessageInSequence(message, index) || IsForwarded(message)" class="message_header">{{message.user.userName}}</span>

            <p *ngIf="IsText(message)" class="message_text">{{message.messageContent}}</p>

            <!--Attachments-->

            <div *ngIf="IsImage(message)" class="image_attachment">
              <img class="message_attachment--image"
                   (click)="ViewImage($event, message)"
                   [style.width.px]="message.attachmentInfo.imageWidth"
                   [style.height.px]="message.attachmentInfo.imageHeight" src="{{message.attachmentInfo.contentUrl}}" />
            </div>

            <!--Audio / archive / etc-->
            <div *ngIf="IsFile(message)" class="file_attachment">
              <div class="file-wrapper">

                <div class="file-wrapper_iconwrapper">

                  <div class="file-icon">
                    <mat-icon class="file-icon_icon">insert_drive_file</mat-icon>
                  </div>

                </div>

                <div class="file-wrapper_info">

                  <div class="file-name">
                    <a (click)="DownloadFile($event)" class="file-name_text" href="{{message.attachmentInfo.contentUrl}}" download>{{message.attachmentInfo.attachmentName}}</a>
                  </div>

                  <div class="file-size">
                    <p class="file-size_text">{{formatter.GetBytesAmountFormatted(message.attachmentInfo.fileSize)}}</p>
                  </div>

                </div>
              </div>
            </div>

            <div class="chat-event" *ngIf="IsEvent(message)">
              <chat-event [event]="message.event" (OnViewUserInfo)="ViewUserInfoWithoutEvent($event)"></chat-event>
            </div>
          </div>

          <div *ngIf="!IsEvent(message)" class="time-and-states-wrapper">

            <span [ngClass]="{'message_timereceived-dark': IsDarkTheme(),
            'message_timereceived-light': !IsDarkTheme()}">{{message.timeReceived | date: 'shortTime'}}</span>
            <!--read, delivered etc.-->

            <mat-icon class="messagestate" *ngIf="message.state == 0">
              query_builder
            </mat-icon>

            <mat-icon class="messagestate" *ngIf="IsDialog() && message.state == 1">
              done
            </mat-icon>

            <mat-icon class="messagestate" *ngIf="IsDialog() && message.state == 2">
              done_all
            </mat-icon>

          </div>
        </div>

        <!--Forwarded message-->
        <div *ngIf="IsForwarded(message)" (click)="ViewForwardedMessage($event, message.forwardedMessage)"
             class="forwarded_message">

          <div>

            <div class="messages_message_content" [ngClass]="{'selected-message-dark': IsMessageSelected(message) && IsDarkTheme(), 'selected-message-light': IsMessageSelected(message) && !IsDarkTheme()}">

              <div class="forwarded_message_break">

              </div>

              <div style="width: 35px; height: 35px; margin-right: 15px; cursor:pointer" (click)="ViewUserInfo($event, message.forwardedMessage.user)">
                <img class="rounded-chat-image" src="{{message.forwardedMessage.user.imageUrl}}" />
              </div>

              <div class="content_messageAndName">
                <span class="message_header">{{message.forwardedMessage.user.userName}}</span>

                <p *ngIf="IsText(message.forwardedMessage)" class="message_text">{{message.forwardedMessage.messageContent}}</p>

                <!--Attachments-->

                <div *ngIf="IsImage(message.forwardedMessage)" class="image_attachment">
                  <img class="message_attachment--image"
                       (click)="ViewImage($event, message.forwardedMessage)"
                       [style.width.px]="message.forwardedMessage.attachmentInfo.imageWidth"
                       [style.height.px]="message.forwardedMessage.attachmentInfo.imageHeight"
                       src="{{message.forwardedMessage.attachmentInfo.contentUrl}}" />
                </div>

                <!--Audio / archive / etc-->

                <div *ngIf="IsFile(message)" class="file_attachment">
                  <div class="file-wrapper">

                    <div class="file-wrapper_iconwrapper">

                      <div class="file-icon">
                        <mat-icon class="file-icon_icon">insert_drive_file</mat-icon>
                      </div>

                    </div>

                    <div class="file-wrapper_info">

                      <div class="file-name">
                        <a (click)="DownloadFile($event)" class="file-name_text" href="{{message.attachmentInfo.contentUrl}}" download>{{message.attachmentInfo.attachmentName}}</a>
                      </div>

                      <div class="file-size">
                        <p class="file-size_text">{{formatter.GetBytesAmountFormatted(message.attachmentInfo.fileSize)}}</p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <span class="message_timereceived" [ngClass]="{'message_timereceived-dark': IsDarkTheme(), 'message_timereceived-light': !IsDarkTheme()}">{{message.forwardedMessage.timeReceived | date: 'shortTime'}}</span>
            </div>
          </div>

        </div>
        <!--Forwarded message end-->
      </div>

    </div>

    <div *ngIf="RecentMessagesLoading" class="padding10px">
      <mat-progress-spinner class="load-spinner"
                            diameter="60"
                            color="Primary"
                            mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </cdk-virtual-scroll-viewport>

  <mat-spinner *ngIf="chatsService.isUpdatingCurrentChat" style="position: absolute; margin-top: 25%; margin-left: calc(50% - 80px);" diameter="160">

  </mat-spinner>

  <div (click)="ScrollToLastMessage()" class="chat_misc_backtonow" *ngIf="IsScrollingAssistNeeded" [@slideInOut]>
    <mat-icon>keyboard_arrow_down</mat-icon>
    <span>Back to now</span>
  </div>

  <div class="chat_misc">
    <button mat-button
            color="primary"
            class="marginleft10px"
            *ngIf="SelectedMessages.length !== 0"
            (click)="DeleteMessages()"
            [@slideInOut]>
      <span  *ngIf="!formatter.IsMobileDevice()">Delete messages</span>

      <mat-icon>
        highlight_off
      </mat-icon>

    </button>

    <button mat-button
            color="primary"
            *ngIf="! chatsService.CurrentConversation.isSecure && SelectedMessages.length !== 0"
            (click)="ForwardMessages()"
            [@slideInOut]>
      <span *ngIf="!formatter.IsMobileDevice()">Forward messages</span>

      <mat-icon>
        reply
      </mat-icon>
    </button>

    <button mat-button
            color="primary"
            *ngIf="IsAllSelectedMessagesPending()"
            (click)="ResendMessages()"
            [@slideInOut]>
      <span *ngIf="!formatter.IsMobileDevice()">Resend messages</span>

      <mat-icon
                color="primary"
                [@slideInOut]>
        restore
      </mat-icon>
    </button>
  </div>

</div>
