<mat-card class="chat_wrapper">

  <mat-card-content class="chat_wrapper_content">

    <div class="conversations_wrapper">
      <div class="conversations_wrapper_searchbar">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search..." type="search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <mat-list class="conversations_wrapper_conversations">
        <h3 mat-subheader>Conversations</h3>
        <mat-list-item>
          <img matListAvatar src="/Assets/Shiba.jpg" alt="...">
          <h3 matLine> kek </h3>
          <p matLine>
            <span> onetwothree </span>
            <span class="demo-2"> -- shieeeeeeeeet </span>
          </p>
        </mat-list-item>

        <mat-list-item>
          <img matListAvatar src="/Assets/Shiba.jpg" alt="...">
          <h3 matLine> kek </h3>
          <p matLine>
            <span> onetwothree </span>
            <span class="demo-2"> -- shieeeeeeeeet </span>
          </p>
        </mat-list-item>

        <mat-list-item>
          <img matListAvatar src="/Assets/Shiba.jpg" alt="...">
          <h3 matLine> kek </h3>
          <p matLine>
            <span> onetwothree </span>
            <span class="demo-2"> -- shieeeeeeeeet </span>
          </p>
        </mat-list-item>
      </mat-list>

    </div>

    <div class="messages_wrapper">

      <div class="messages_wrapper_conversationinfo">

        <div class="conversationinfo--nameAndAdditional">

          <span>Name</span>

          <div class="conversationinfo--members">
            <button class="conversationinfo_membersbutton">54 Members</button>
          </div>

        </div>

        <button class="messages_wrapper_optionsbutton">Options</button>

      </div>

      <div class="messages_wrapper_chatmessages">
        Messages
      </div>

      <div class="messages_wrapper_chat-input">
        Input
      </div>

    </div>

  </mat-card-content>

</mat-card>
