.chat_wrapper {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
  min-height: 670px;
  padding: 0 !important;
}

.chat_wrapper_content {
  display: flex;
  flex-direction: row;
  height: 670px;
  margin: 0 0 0 0 !important;
}

.conversations_wrapper {
  display: flex;
  flex-direction:column;
  width: 40%;
  height: 100%;
}

.conversations_wrapper_searchbar{
  height: 10%;
  padding: 20px;
}

.conversations_wrapper_conversations{
  height: 80%;
}

.messages_wrapper {
  display:flex;
  flex-direction:column;
  width: 60%;
  height: 100%;
}

.messages_wrapper_conversationinfo{
  display:flex;
  flex-direction:row;
  height: 8%;
}

.conversationinfo--nameAndAdditional {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding:1%;
}

.messages_wrapper_chatmessages {
  height: 60%;
}

.messages_wrapper_chat-input{
  height: 10%;
}
