<mat-card class="chat_wrapper">

  <mat-drawer-container [hasBackdrop]="true">

    <!--Actions-->

    <mat-drawer #actionsdrawer [mode]="over">
      <div class="chatactions_flex">

        <button mat-button (click)="OnViewUserInfo(this.auth.User, null)">
          <div class="padding10px flexaligned">
            <mat-icon>sentiment_satisfied</mat-icon>
            <span class="padding5px">My profile</span>
          </div>
        </button>

        <button mat-button (click)="CreateGroup()">
          <div class="padding10px flexaligned">
            <mat-icon>people</mat-icon>
            <span class="padding5px">New chat</span>
          </div>
        </button>

        <button mat-button *ngIf="isSecureChatsSupported" (click)="CreateSecureChat()">
          <div class="padding10px flexaligned">
            <mat-icon>security</mat-icon>
            <span class="padding5px">New secure chat</span>
          </div>
        </button>

        <button mat-button (click)="OnLogOut()">
          <div class="padding10px flexaligned">
            <mat-icon>cancel</mat-icon>
            <span class="padding5px">Log out</span>
          </div>
        </button>

        <button *ngIf="IsDarkTheme()" mat-button (click)="SwitchTheme('white')">
          <div class="padding10px flexaligned">
            <mat-icon>wb_sunny</mat-icon>
            <span class="padding5px">White theme</span>
          </div>
        </button>

        <button *ngIf="!IsDarkTheme()" mat-button (click)="SwitchTheme('dark')">
          <div class="padding10px flexaligned">
            <mat-icon>brightness_2</mat-icon>
            <span class="padding5px">Dark theme</span>
          </div>
        </button>
      </div>
    </mat-drawer>

    <mat-drawer-content>

      <mat-card-content class="chat_wrapper_content">

        <div [ngClass]="{'conversations_wrapper_dark': IsDarkTheme(), 'conversations_wrapper_light': !IsDarkTheme()}">
          <div class="conversations_wrapper_searchbar">

            <button mat-button (click)="actionsdrawer.toggle()">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-form-field style="margin-left: 20%;" appearance="fill">
              <mat-label>Search</mat-label>
              <input matInput placeholder="Search..." type="search" [(ngModel)]="SearchString" (keydown.enter)="Search()" >
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>

          <searchlist-view *ngIf="SearchString != null && SearchString !== ''"
                           [LocalConversations]="conversationsService.Conversations"
                           (OnViewUser)="OnViewUserInfo($event)"
                           (OnViewConversation)="OnViewGroupInfo($event)"
                           (OnViewLocalConversation)="ChangeConversation($event)"
                           [SearchString]="SearchString">

          </searchlist-view>

          <conversationslist-view *ngIf="SearchString == null || SearchString === ''"
                                  [CurrentConversation]="conversationsService.CurrentConversation"
                                  class="conversations_wrapper_conversations"
                                  [Conversations]="conversationsService.Conversations"
                                  (OnSelectedConversationChanged)="ChangeConversation($event)">

          </conversationslist-view>

        </div>

        <div *ngIf="IsConversationSelected()" class="messages_wrapper">

          <conversationHeader-view class="messages_wrapper_header"
                                   (OnViewGroupInfo)="OnViewGroupInfo(conversationsService.CurrentConversation)"
                                   [Conversation]="conversationsService.CurrentConversation"></conversationHeader-view>

          <messages-view class="messages_wrapper_messages"
                         [CurrentConversation]="conversationsService.CurrentConversation"
                         (OnViewUserInfo)="OnViewUserInfo($event)"></messages-view>


          <input-view class="messages_wrapper_input"
                      [User]="auth.User"
                      [Conversation]="conversationsService.CurrentConversation"
                      (OnSendMessage)="OnSendMessage($event)"
                      (OnUploadImages)="OnUploadImages($event)"></input-view>

        </div>

        <h4 *ngIf="! IsConversationSelected()" class="no-chat-selected">Choose chat from the left to start chatting...</h4>

      </mat-card-content>

    </mat-drawer-content>

  </mat-drawer-container>
</mat-card>

<style>
  .no-chat-selected{
    font: 400 15px/20px Roboto,"Helvetica Neue",sans-serif;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .conversations_wrapper_light{
    border-right: 1px solid #adadad;
  }

  .conversations_wrapper_dark{
    border-right: none;
  }

</style>
