<mat-card class="chat_wrapper">

  <mat-card-content>

    <div class="conversations_wrapper">
      <div class="conversations_wrapper_searchbar">
        Search bar
      </div>

      <div class="conversations_wrapper_conversations">
        Conversations
      </div>

    </div>

    <div class="messages_wrapper">

      <div class="messages_wrapper_conversationinfo">

        <div class="conversationinfo--name">
          <span>Name</span>
        </div>

        <div class="conversationinfo--members">
          <button class="conversationinfo_membersbutton">54 Members</button>
        </div>

        <button class="messages_wrapper_optionsbutton">Options</button>

      </div>

      <div class="messages_wrapper_chatmessages">
        Messages
      </div>

      <div class="messages_wrapper_chat-input">
        Input
      </div>

    </div>

  </mat-card-content>

</mat-card>
