.chat_wrapper {
  width: 100%;
  height: 100vh;
  padding: 0 !important;
}

.conversations_wrapper {
  display: flex;
  flex-direction:column;
  overflow-y: scroll;
  width: 30%;
  height: 100%;
}

.chat_wrapper_content {
  display: flex;
  flex-direction: row;
  height: 670px;
  margin: 0 0 0 0 !important;
}

.conversations_wrapper_conversations {
  height: 80%;
}

.messages_wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.conversations_wrapper_searchbar {
  display: flex;
  flex-direction: row;
  height: 10%;
  padding: 20px;
  align-items: baseline;
}

.chatactions_flex{
  display: flex;
  flex-direction: column;
}

.messages_wrapper_input {
  height: 20%;
}

.messages_wrapper_messages {
  height: calc(100vh - 12vh - 65px);
}

.flexaligned{
  display: flex;
  justify-content: center;
  align-items:center;
}

.padding10px{
  padding: 10px;
}

.padding5px{
  padding: 5px;
}

.no-chat-selected {
  font: 400 15px/20px Roboto,"Helvetica Neue",sans-serif;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 880px) {
  .conversations_wrapper {
    width: 100% !important;
  }

  .hidden {
    display: none !important;
  }

  .messages_wrapper {
    width: 100% !important;
  }
}
