<div id="translations-list" [hidden]="true">
<p i18n id="LastMsgNoMessages">No messages...</p>
<p i18n id="MessageSenderYou">You</p>
<p i18n id="LastMsgForwarded">Forwarded message</p>
<p i18n id="ChatEventJoined">joined the chat</p>
<p i18n id="ChatEventBanned">was banned by</p>
<p i18n id="ChatEventKicked">was kicked by</p>
<p i18n id="ChatEventInvited">was invited by</p>
<p i18n id="ChatEventLeft">has left the chat.</p>
<p i18n id="ChatEventUser">User</p>
<p i18n id="ChatRoleCreator">Creator</p>
<p i18n id="ChatRoleModerator">Moderator</p>
<p i18n id="UserTyping">is typing</p>
<p i18n id="And">and</p>
<p i18n id="ManyPeopleTyping">more people are typing</p>
<p i18n id="AttachmentImage">Image</p>
<p i18n id="AttachmentFile">File</p>
<p i18n id="AttachmentUnknown">Unknown attachment</p>
<p i18n id="Today">Today</p>
<p i18n id="Yesterday">Yesterday</p>
<p i18n id="ManyDaysAgo">days ago</p>
<p i18n id="ChatMembers">Member(s)</p>
<p i18n id="Online">Online</p>
<p i18n id="Offline">Offline. Last seen:</p>
<p i18n id="LastSeenLessThan5">less than 5 minutes ago.</p>
<p i18n id="LastSeenMinutes">minutes ago</p>
<p i18n id="LastSeenHours">hours ago</p>
<p i18n id="LastSeenDays">days ago</p>
<p i18n id="ThisWeek">This week</p>
<p i18n id="WeekAgo">A week ago</p>
<p i18n id="TwoWeeksAgo">Two weeks ago</p>
<p i18n id="Connected">Connected.</p>
<p i18n id="Disconnected">Disconnected, retrying in 3s...</p>
<p i18n id="Reconnecting">Failed to connect, retrying in 3s...</p>
<p i18n id="Connecting">Connecting...</p>
<p i18n id="OnActionWhileDisconnected">Couldn't perform actions while not connected...</p>
<p i18n id="WaitingForUser">Waiting for user to come online...</p>
<p i18n id="ReEnterChat">Error: Please re-enter this chat.</p>
<p i18n id="WrongSms">Wrong code, try again.</p>
<p i18n id="CouldntSendSms">Couldn't send the message...</p>
<p i18n id="UsersSearchNoResults">Noone was found</p>
<p i18n id="FilesTooBig">Some of the files were larger than...</p>
<p i18n id="DialogFailedToCreate">Unable to create the chat with this user. Probably there already exists one.</p>
<p i18n id="ServerReturnedCode">Server returned code</p>
<p i18n id="WithError">with error</p>
<p i18n id="NoInternet">Server is down or there is no internet connection at the moment</p>
<p i18n id="ApiError">Error:</p>
<p i18n id="WrongMessagesToForward">Wrong messages to forward</p>
<p i18n id="SomeFilesWereNotUploaded">Some files were not uploaded.</p>
<p i18n id="CouldntViewUserProfile">Couldn't view user profile.</p>
<p i18n id="WrongUserDataLength">Either username or first name or last name was too long / too short</p>
<p i18n id="EnterAtLeast">Please enter at least</p>
<p i18n id="SymbolsToEnter">symbols</p>
<p i18n id="FileFailedToUpload">File failed to upload</p>
</div>
