<h1 mat-dialog-title i18n>
  Actions with {{ (data.user.userName.length > 10 )? (data.user.userName | slice:0:10)+'..':(data.user.userName) }}
</h1>
<div mat-dialog-content class="adminpanel-content">

  <button mat-button class="adminpanel-button" (click)="Kick()" *ngIf="IsBanAvailable()">
    <mat-icon class="icon">voice_over_off</mat-icon>
    <span i18n>Kick this user</span>
  </button>

  <button mat-button class="adminpanel-button" (click)="Ban()" *ngIf="IsBanAvailable() && !data.user.isBlockedInConversation">
    <mat-icon class="icon">gavel</mat-icon>
    <span i18n>Ban this user</span>
  </button>

  <button mat-button class="adminpanel-button" (click)="UnBan()" *ngIf="IsBanAvailable() && data.user.isBlockedInConversation">
    <mat-icon class="icon">loop</mat-icon>
    <span i18n>Unban this user</span>
  </button>

  <button mat-button class="adminpanel-button" (click)="MakeModerator()" *ngIf="IsCurrentUserCreator() && !IsModerator()">
    <mat-icon class="icon">person_add</mat-icon>
    <span i18n>Make a moderator</span>
  </button>

  <button mat-button class="adminpanel-button" (click)="RemoveModerator()" *ngIf="IsCurrentUserCreator() && IsModerator()">
    <mat-icon class="icon">loop</mat-icon>
    <span i18n>Remove moderator privileges</span>
  </button>

  <h3 *ngIf="!IsCurrentUserCreator() && !IsBanAvailable()" i18n>No actions are available for this user.</h3>
</div>

<style>
  .adminpanel-content{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
  }
  .icon{
    color:cadetblue;
  }
  .adminpanel-button{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
  }
</style>
