<h1 mat-dialog-title>Forward messages</h1>
<div mat-dialog-content style="overflow: unset !important">

  <mat-action-list style="height: 200px; overflow-y: scroll;">
    <h3 mat-subheader>Your conversations</h3>

    <mat-list-item *ngFor="let conversation of data.conversations"
                   (click)="SelectConversation(conversation)"
                   [ngClass]="{'selected-user': IsConversationSelected(conversation)}">

      <img matListAvatar *ngIf="conversation.isGroup" src="{{conversation.thumbnailUrl}}" alt="Group logo">
      <img matListAvatar *ngIf="!conversation.isGroup" src="{{conversation.dialogueUser.imageUrl}}" alt="Group logo">

      <h3 matLine
          *ngIf="conversation.isGroup"
          [ngClass]="{'selected-user': IsConversationSelected(conversation)}">
        {{ (conversation.name.length > 20 )? (conversation.name | slice:0:20)+'..':(conversation.name) }}
      </h3>

      <h3 matLine
          *ngIf="!conversation.isGroup"
          [ngClass]="{'selected-user': IsConversationSelected(conversation)}">
        {{ (conversation.dialogueUser.userName.length > 20 )? (conversation.dialogueUser.userName | slice:0:20)+'..':(conversation.dialogueUser.userName) }}
      </h3>

    </mat-list-item>

  </mat-action-list>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="SelectedConversations" cdkFocusInitial>Forward</button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
  </div>

  <style>
    .selected-user {
      color: white;
      background-color: cadetblue !important;
    }

    .find-header {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
  </style>

</div>
