*{
  color:white;
}

.validate_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 -5px;
}
.validate_fieldswrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 0 5px;
}

.login_wrapper {
  background-image: url('../../../dist/Assets/Login_Background.jpg');
  background-repeat: round;
  min-height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}

.login_info--image{
  height: 50%;
}

.login_info .app_name {
  height: 30%;
  font-size: 40px;
  font-weight: lighter;
}
