<div class="login_wrapper">

  <div class="login_info">
    <img class="login_info--image" src="../../../dist/Assets/Login_MainLogo.png" alt="Logo">
    <span class="app_name">Vibechat</span>
  </div>

  <div class="validate_fieldswrapper">
    <mat-form-field appearance="outline">
      <mat-label>Username or e-mail:</mat-label>
      <input matInput [formControl]="usernameOrEmail" required>
      <mat-error>Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="password" required>
      <mat-error>Required</mat-error>
    </mat-form-field>

  </div>

  <div class="validate_wrapper">
    <button [disabled]="! canLogIn" class="button" mat-flat-button color="primary" (click)="Login()">Login</button>
    <button class="button" (click)="GotoRegisterPage()" mat-flat-button color="primary">Register</button>
  </div>

</div>
