<div class="login_cardwrapper" id="main">

  <div class="login_head">

  </div>

  <div class="login_page">
    <mat-card class="login_card">

      <mat-card-header>
        <div mat-card-avatar class="login_card--logo"></div>
        <mat-card-title>Vibechat</mat-card-title>
        <mat-card-subtitle>Login</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="validate_fieldswrapper">
          <mat-form-field appearance="outline">
            <mat-label>Phone number:</mat-label>
            <input matInput [formControl]="phoneNumber" required>
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>

        <div *ngIf="isCodeSent" class="validate_fieldswrapper">
          <mat-form-field appearance="outline">
            <mat-label>Code from SMS:</mat-label>
            <input matInput [formControl]="smsCode" required>
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>

        <div class="validate_wrapper">
          <button *ngIf="! isCodeSent"
                  [disabled]="! canLogIn"
                  class="button"
                  id="sign-in-button"
                  mat-flat-button
                  color="primary"
                  (click)="SendCode()">Send code</button>

          <button *ngIf="isCodeSent"
                  [disabled]="! canLogIn"
                  class="button"
                  mat-flat-button color="primary"
                  (click)="SignIn()">Sign in</button>

        </div>

      </mat-card-content>

    </mat-card>
  </div>

</div>
