
.validate_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 -5px;
}
.validate_fieldswrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.button {
  margin: 0 5px;
}

.register_head {
  height: 240px;
  background-color: cadetblue;
}

.register_page {
  height: 960px;
}

.register_wrapper {
  display: block;
  text-align: center;
  min-height: 1200px;
}

.register_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}

.register_info .app_name {
  height: 30%;
  font-size: 48px;
  font-weight: lighter;
}

.register_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -131px auto 90px;
  width: 40%;
}

.register_card--logo {
  background-image: url('/Assets/MainLogo.png');
  background-size: cover;
}


.register_input{
  width: 50%;
}

.validate_fieldswrapper {
  width: 100%;
}

.register_card--content{
  width: 100%;
}
