<div class="register_wrapper" [formGroup]="registerGroup">

  <div class="register_head">

  </div>

  <div class="register_page">

    <mat-card class="register_card">

      <mat-card-header>
        <div mat-card-avatar class="register_card--logo"></div>
        <mat-card-title>Vibechat</mat-card-title>
        <mat-card-subtitle i18n>Change your info.</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="register_card--content">

        <div class="validate_fieldswrapper">
          <mat-form-field class="register_input">
            <mat-label i18n>First Name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>

          <mat-form-field class="register_input">
            <mat-label i18n>Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>

          <mat-form-field class="register_input">
            <mat-label i18n>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error i18n>Minimal length is 5</mat-error>
          </mat-form-field>

          <div class="validate_wrapper">
            <button [disabled]="! canRegister" class="button" mat-flat-button color="primary" (click)="Register()" i18n>Register</button>
          </div>

        </div>

      </mat-card-content>

    </mat-card>

  </div>

</div>

<formatter></formatter>
